name: QT1

on: push

jobs:
  build_and_test:
    name: "Build and test"
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies (Linux)
      run: sudo apt install ninja-build
      if: matrix.os == 'ubuntu-latest'

    - name: Install Ninja (Windows)
      run: choco install ninja
      if: matrix.os == 'windows-latest'

    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '6.5.2'

    - uses: ilammy/msvc-dev-cmd@v1

    - name: Build
      run: cmake -S QT_X_Build/qt_build_app -B build -G "Ninja Multi-Config" && cmake --build build --config Release

    # Upload the built .exe as an artifact so you can download it from GitHub
    - name: Upload executable
      uses: actions/upload-artifact@v4
      with:
        name: MyAppExe
        path: build/Release/*.exe   # pas dit pad aan naar jouw echte .exe locatie

